@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Asap, sans-serif;
  margin: 0;
  padding: 0;
}

.main-heading {
  background-color: #efe7d3;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  margin-top: 0;
  padding: 10px;
}

.main-body {
  width: 80%;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.paras {
  grid-column: 1 / 7;
  grid-row: 1 / 6;
}

.profile-pic {
  grid-column: 7 / 13;
  grid-row: 1 / 6;
}

.profile-pic img {
  width: 480px;
  height: 480px;
  border-radius: 5px 5px 0 0;
}
